<div id="papiro">risultato {{ text }} == {{ result }}</div>

<div>
  <div>
    <button class="btn btn-primary" (click)="inserisciNum('1')">1</button>
    <button class="btn btn-primary" (click)="inserisciNum('2')">2</button>
    <button class="btn btn-primary" (click)="inserisciNum('3')">3</button>
    <button class="operandi" (click)="inserisciNum('+')">+</button>
  </div>
  <div>
    <button class="btn btn-primary" (click)="inserisciNum('4')">4</button>
    <button class="btn btn-primary" (click)="inserisciNum('5')">5</button>
    <button class="btn btn-primary" (click)="inserisciNum('6')">6</button>
    <button class="operandi" (click)="inserisciNum('-')">-</button>
  </div>

  <div>
    <button class="btn btn-primary" (click)="inserisciNum('7')">7</button>
    <button class="btn btn-primary" (click)="inserisciNum('8')">8</button>
    <button class="btn btn-primary" (click)="inserisciNum('9')">9</button>
    <button class="operandi" (click)="inserisciNum('*')">*</button>
  </div>
  <div>
    <button class="btn btn-primary">+/-</button>
    <button class="btn btn-primary" (click)="inserisciNum('0')">0</button>
    <button class="btn btn-primary" (click)="calcolo()">=</button>
    <button class="operandi" (click)="inserisciNum('/')">/</button>
    <button class="operandi" (click)="togliNum()"><--</button>
  </div>
  <h1>{{ errori }}</h1>
</div>
